body {
    background-color: #222;
    /* Fond sombre pour faire ressortir la glace */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

#game-container {
    text-align: center;
    position: relative;
}

canvas {
    background-color: #1a1a2e;
    /* Fond tribunes (bleu foncé) */
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#ui-layer {
    margin-top: 15px;
}